@page "/" 
@rendermode InteractiveServer
@using _26_01_25.Components.Pages.Admin.Components.Dialogs  

@using MudBlazor
@inject IDialogService DialogService

<PageTitle>Home</PageTitle>

<h1>Home</h1>

 